* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font: 16px Helvetica, Arial, Serif;
    color: #333333;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    scroll-behavior: auto;
}

img, video, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}

input[type='submit']:hover, button:hover {
    background: #e9e9e9;
    cursor: pointer;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    outline: none;
}

/* Configuración del Grid */
body {
    display: grid;
    grid-template-rows: auto 100px 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
}

/* Estilos para cada sección */
nav {
    grid-row: 1;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
}

header {
    grid-row: 2;
    background-color: #6c757d;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    background-color: #f8f9fa;
    padding: 20px;
}

footer {
    grid-row: 4;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
}